<!-- new diary page -->
<form [formGroup]="diaryForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="title">Title</label>
    <input
      type="text"
      class="form-control"
      id="title"
      placeholder="Title"
      required
      formControlName="title"
      [class.is-invalid]="title.invalid && (title.dirty || title.touched)"
      [class.is-valid]="title.valid"
    />
    <div class="invalid-feedback">Please provide a title!</div>
  </div>
  <div class="form-group">
    <label for="text">Text</label>
    <textarea
      class="form-control"
      id="text"
      placeholder="Text"
      rows="5"
      required
      formControlName="text"
      [class.is-invalid]="text.invalid && (text.dirty || text.touched)"
      [class.is-valid]="text.valid"
    ></textarea>
    <div class="invalid-feedback">Please provide a text for your diary!</div>
  </div>
  
  <!-- hidden date input -->
  <input
    type="text"
    class="form-control"
    id="date"
    hidden
    formControlName="date"
    [class.is-invalid]="date.invalid && (date.dirty || date.touched)"
    [class.is-valid]="date.valid"
  />
  <div class="invalid-feedback" *ngIf="date.invalid && date.errors.required">Please provide a date!</div>

  <button type="submit" class="btn appbtn-primary">Save</button>
</form>
